/* On travaille sur la balise body, donc sur TOUTE la page */
body
{
    
    background-color:rgba(9, 38, 204, 0.601); /* Le fond de la page sera noir */
    color: black; /* Le texte de la page sera blanc */; font-family :Arial, Helvetica, sans-serif;
    

}
    
table,td,th
{
    color: greenyellow;
    border-collapse: collapse; /* Les bordures du tableau seront collées (plus joli) */;
 border: 1px solid black; padding: 8px /* Espacement dans le tableau */
 

}
p
{
color: rgb(0, 0, 0);
}
h1
{
color:red
}

h2
{
    color: blueviolet;
}

    